#UpperFeatureIndex{
  height: 300px;
  width: 100%;

  display: flex;

}
#FeatureHolder{
  display: inline-block;
  width:100%;
  height: fit-content;
}
#FrontPageLogo{
  width: 500px;
  margin: auto;
  max-width: 70%;
}
#download-tab{
  background-color: #7cb342;
  color : var(--mdc-theme-text-primary-on-dark);
  padding-left : .7rem;
  padding-right : .7rem;
  margin : 0px;
}
#download-tab:hover{
  background-color: #4b830d;
}
#PageBody{
  width:100%;
}

.feature-art{
  background-image:url("img/LayerOfDetail 1.jpg");
  width: 400px;
}
.feature-card{
  margin: 1rem;
  max-width: 400px;
}
.feature-done-button{
  background-color:#7cb342;
  margin:10px;
}
.feature-icon-container{
  text-align: right;
}
.feature-card-header{
  font-size: 1.5rem;
}
