#UpperFeatureIndex{
  height: 300px;
  width: 100%;
  text-align: right;
  display: block;

}
#imageCreditLink{
  color: var(--mdc-theme-text-hint-on-dark);
  font-size: 1rem;
  height: 20px;

}
#imageCreditLink:visited{
  color: var(--mdc-theme-text-hint-on-dark);
}
#fholder{
  display: inline-block;
  width:100%;
  height: fit-content;
  text-align: center;
}
#FrontPageLogo{
  width: 500px;
  margin: auto;
  max-width: 70%;
  display: block;
}
#download-tab{
  background-color: #7cb342;
  color : var(--mdc-theme-text-primary-on-dark);
  padding-left : .7rem;
  padding-right : .7rem;
  margin : 0px;
}
#mini-download-tab{
  background-color: #7cb342;
  color : var(--mdc-theme-text-primary-on-dark);
  padding-left : .7rem;
  padding-right : .7rem;
  margin : 0px;
}
#download-tab:hover{
  background-color: #4b830d;
}
#PageBody{
  width:100%;
}

.feature-art{
  background-image:url("img/LayerOfDetail 1.jpg");
  width: 400px;
}
.feature-card{
  margin: 1rem;
  max-width: 400px;
}
.feature-done-button{
  background-color:#7cb342;
  margin:10px;
}
.feature-soon-button{
  background-color:#fb8c00;
  margin:10px;
}
.feature-later-button{
  background-color:#f4511e;
  margin:10px;
}
.feature-hidden-icon{
  display: none;
}
.feature-active-icon{
  display: inline-flex !important;
}
.feature-icon-container{
  text-align: right;
}
.feature-card-header{
  font-size: 1.5rem;
}
.featurebox{
  display:inline-flex;
  text-align: center;
}
.
